# Supabase configuration
VITE_SUPABASE_URL=https://jruqvzpclhwjkttxhhtt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpydXF2enBjbGh3amt0dHhoaHR0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODE3NDQ3NSwiZXhwIjoyMDYzNzUwNDc1fQ.GMZ5LuxejrOCiuqmgDTE3GJZWX1Jjj7ggpodB7UDrQk
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpydXF2enBjbGh3amt0dHhoaHR0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODE3NDQ3NSwiZXhwIjoyMDYzNzUwNDc1fQ.GMZ5LuxejrOCiuqmgDTE3GJZWX1Jjj7ggpodB7UDrQk

# Cloudflare R2
VITE_R2_ENDPOINT=https://4d7ff682acc1284a3ea9e111bdae405f.r2.cloudflarestorage.com
VITE_R2_ACCESS_KEY_ID=ed2234614d4e282fa0b1ed5db746fc27
VITE_R2_SECRET_ACCESS_KEY=2511cad158d6240546b9e5b83b13258e0e895ffbfbca394afe7954931cf3f72f
VITE_R2_BUCKET_NAME=preserv3d
VITE_R2_PUBLIC_URL=https://pub-8c8eb005cca947a7821974e5e66ea477.r2.dev

# NLP Service URL
VITE_NLP_SERVICE_URL=https://preserv3d-nlp-service.onrender.com

# Force local NLP service when running on localhost (for development)
VITE_FORCE_LOCAL_NLP=true

FRONTEND_URL=https://preserv3d.vercel.app

HF_API_TOKEN=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
