// app global css in SCSS form
.page-header {
  color: #560505;
}

.title {
  font-weight: bold;
}

.card-wrapper {
  perspective: 1000px;
}

.artifacts {
  width: 300px;
  height: 200px;
  padding: 1rem;
}

.card {
  background: #121212 !important;
  background: radial-gradient(circle, #b59f9f 0%, #640c0c 90%, #121212 100%) !important;
}

.card .artifacts {
  transition: transform 0.3s ease;
  will-change: transform;
  transform: scale(1);
}

.card-wrapper:hover .my-card {
  transform: scale(1.05);
}

.card-wrapper:hover .my-card .artifacts {
  transform: scale(1.3);
}

#unityContainer {
  background-color: #640c0c;
}

.document {
  max-width: 300px;
  height: auto;
}

.metadata h6 {
  margin: 0;
}

.documentCard {
  width: 350px;
  height: 500px;
  overflow-y: scroll;
}

.text-tertiary {
  color: $tertiary !important;
}

// styles for landing page

.page-background {
  background:
    linear-gradient(0deg, rgba(63, 4, 4, 0.8) 70%, rgba(0, 0, 0, 0.9) 99%),
    url('src/assets/img/bg-img.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.bottom-shadow-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 20%, transparent 100%);
  z-index: 50;
  pointer-events: none;
}

@font-face {
  font-family: 'Benne';
  src: url(src/assets/fonts/Benne.ttf) format('truetype');
}

.font-benne {
  font-family: 'Benne', sans-serif;
  text-shadow: 70px 30px 4px rgba(0, 0, 0, 0.55);
}

.main-tile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  z-index: 100;
  width: 100%;
  text-align: center;
}

// login page

.light-bg {
  background-color: #fffce9;
  min-height: 100vh;
  z-index: 1;
}

.form-title {
  font-family: 'Poppins', sans-serif;
  color: #560505;
  font-size: 30px;
  font-weight: bold;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  color: #616161;
  display: block;
}

.names {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #560505;
  align-self: flex-start;
}

.login-card-style {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  background: linear-gradient(
    334deg,
    #fffce9 6.65%,
    #fffefa 29.43%,
    #fff 7.69%,
    #fffef6 90.7%,
    #fffced 105.52%
  );

  box-shadow: -20px 15px 4px 0px rgba(0, 0, 0, 0.45);

  overflow: hidden;
}

/* --- Input Field Styling --- */
.text-box {
  background: white;
  width: 540px;
}

.text-box .q-field__control {
  border-radius: 10px;
  height: 60px;
  min-height: 60px;
  border: 1px solid #4d0000;
  box-shadow: 0 2px 6px rgba(86, 5, 5, 0.22);
}

.text-box .q-field__control-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.text-box .q-field__append {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
}

/* --- END Input Field Styling --- */

.next-button {
  margin-top: 2rem;
  width: 58px;
  height: 42px;
  border-radius: 17px;
  box-shadow: 0 2px 6px rgba(86, 5, 5, 0.22);
}

.already {
  margin-top: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: smaller;
  color: #616161;
}

.signup-link {
  color: #4d0000;
  text-decoration: none;
  margin-left: 4px;
  font-weight: 540;
}

.signup-link:hover {
  text-decoration: underline;
}

.log-in {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  background-color: #560505;
  color: white;
  margin-top: 0.5rem;
  width: 250px;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(128, 128, 128, 0.8);
}

// For Forget Password
.forgot-password-link {
  margin-top: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: smaller;
  color: #616161;
  cursor: pointer;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.no-gutter-top {
  margin-top: -16px !important;
}
