// app global css in SCSS form
.card-wrapper {
  perspective: 1000px;
}

.artifacts {
  width: 300px;
  height: 200px;
  padding: 0.5rem;
}

.card {
  background: #121212 !important;
  background: radial-gradient(
    circle,
    rgba(181, 159, 159, 1) 0%,
    rgba(100, 12, 12, 1) 90%,
    rgba(18, 18, 18, 1) 100%
  ) !important;
}

.card .artifacts {
  transition: transform 0.3s ease;
  will-change: transform;
  transform: scale(1);
}

.card-wrapper:hover .my-card {
  transform: scale(1.05);
}

.card-wrapper:hover .my-card .artifacts {
  transform: scale(1.3);
}
